h1 {
    margin-top: 5vw;
    margin-bottom: 2vw;
}

img {
    margin-top: 11vw;
    margin-bottom:11vw;
}

.office-info {
    position: fixed;
    top: 10px;
    left: 10px;
}

.mood-button {
    width: 250px;
    height: 250px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0, 0.7);
    overflow-x: hidden;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    color: white;
}